extends ../layouts/layout

block head
  title #{application} &middot; Home

block styles
  link(rel='stylesheet', href='/lib/devicons/css/devicons.min.css')
  //- link(rel='stylesheet', href='//cdn.jsdelivr.net/devicons/1.5.0/css/devicons.min.css')
  link(rel='stylesheet', href='/css/page-api.min.css')

block content

  .mini-tron
    .container
      h1 Welcome to #{application}!
      p
        | This will be "newsfeed" home page.
        | &nbsp;
        | &nbsp;
        | &nbsp;
      br
      legend Where do you wanna go?
          .form-group
            label.sr-only(for='name') Name:
            input.form-control(type='text', name='name', id='pac-from', placeholder='Going From', autofocus=true, required)
          .form-group
            label.sr-only(for='email') Email:
            input.form-control(type='email', name='email', id='pac-to', placeholder='Going To', required)
          .form-group
            button.btn.btn-success(type='submit', onclick='getDirections();')
              i.fa.fa-check
              | &nbsp; Find Route
            | &nbsp;
          br
  .container
    .row
      //- .col-sm-10.col-sm-offset-1
      .col-sm-12

        h3 Why did I have to login to see this?
        p
          | Personalized Road feed and trip feed.
        P
          | If you didn't log in you would never see or experience this. Bummer right?
        p
          | (NOTE: You can delete your account on the profile page.)
        h3
          | Built with:&nbsp;
        .built-with
          .row
            .col-xs-2
              span.devicons.devicons-chrome
            .col-xs-2
              span.devicons.devicons-github_badge
            .col-xs-2
              span.devicons.devicons-nodejs
            .col-xs-2
              span.devicons.devicons-html5
            .col-xs-2
              span.devicons.devicons-less
            .col-xs-2
              span.devicons.devicons-gulp
          .row
            .col-xs-2
              span.devicons.devicons-npm
            .col-xs-2
              span.devicons.devicons-bower
            .col-xs-2
              span.devicons.devicons-apple
            .col-xs-2
              span.devicons.devicons-jquery
            .col-xs-2
              span.devicons.devicons-javascript
            .col-xs-2
              span.devicons.devicons-bootstrap

    .row.hidden-xs
      .col-sm-2
        img.center-block.img-responsive(src='img/nodejitsu-logo.png' width='150')
      .col-sm-3
        img.center-block.img-responsive(src='img/express-logo.jpg' width='230')
    br

    //- .row
      .col-sm-2.col-sm-offset-1
        img.center-block.img-responsive.img-rounded(src='img/mongodb-logo.jpg' width='200')
      .col-sm-3
        img.center-block.img-responsive.img-rounded(src='img/mongolab-logo.jpg' width='200')
      .col-sm-3
        img.center-block.img-responsive.img-rounded(src='img/fontawesome-logo.jpg' width='250')
    br
    br
